# ONE HOT ENCODING

# One-Hot Encoding is a technique used to convert categorical data (labels/text) into numerical format so that machine learning algorithms can understand it.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('/content/cars (1).csv')

In [10]:
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [11]:
df['brand'].value_counts()

brand
Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Land                6
Force               6
Isuzu               5
Ambassador          4
Kia                 4
MG                  3
Daewoo              3
Ashok               1
Opel                1
Peugeot             1
Name: count, dtype: int64

In [12]:

df['fuel'].value_counts()

fuel
Diesel    4402
Petrol    3631
CNG         57
LPG         38
Name: count, dtype: int64

In [13]:
df['owner'].value_counts()

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

# one hot encoding using pandas

In [21]:
pd.get_dummies(data=df, columns=['brand','fuel','owner'],dtype=int)

,km_driven,selling_price,brand_Ambassador,brand_Ashok,brand_Audi,brand_BMW,brand_Chevrolet,brand_Daewoo,brand_Datsun,brand_Fiat,...,brand_Volvo,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,145500,450000,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
1,120000,370000,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
2,140000,158000,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
3,127000,225000,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
4,120000,130000,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,110000,320000,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
8124,119000,135000,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
8125,120000,382000,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
8126,25000,290000,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
8127,25000,290000,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0

## one hot encodin using sklearn

In [17]:
from sklearn.preprocessing import OneHotEncoder

In [19]:
ohe=OneHotEncoder(drop='first',sparse_output=False,dtype=np.int32)

In [24]:
df_trf=ohe.fit_transform(df[['brand','fuel','owner']])

In [25]:
df_trf

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 1],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int32)

In [35]:
cols=ohe.get_feature_names_out()

In [36]:
cols

array(['brand_Ashok', 'brand_Audi', 'brand_BMW', 'brand_Chevrolet',
       'brand_Daewoo', 'brand_Datsun', 'brand_Fiat', 'brand_Force',
       'brand_Ford', 'brand_Honda', 'brand_Hyundai', 'brand_Isuzu',
       'brand_Jaguar', 'brand_Jeep', 'brand_Kia', 'brand_Land',
       'brand_Lexus', 'brand_MG', 'brand_Mahindra', 'brand_Maruti',
       'brand_Mercedes-Benz', 'brand_Mitsubishi', 'brand_Nissan',
       'brand_Opel', 'brand_Peugeot', 'brand_Renault', 'brand_Skoda',
       'brand_Tata', 'brand_Toyota', 'brand_Volkswagen', 'brand_Volvo',
       'fuel_Diesel', 'fuel_LPG', 'fuel_Petrol',
       'owner_Fourth & Above Owner', 'owner_Second Owner',
       'owner_Test Drive Car', 'owner_Third Owner'], dtype=object)

In [37]:
df_trf=pd.DataFrame(df_trf,columns=cols)

In [39]:
df_trf.head()

,brand_Ashok,brand_Audi,brand_BMW,brand_Chevrolet,brand_Daewoo,brand_Datsun,brand_Fiat,brand_Force,brand_Ford,brand_Honda,...,brand_Toyota,brand_Volkswagen,brand_Volvo,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0